@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
  font-family: "Bagnard"; 
  src: url('../../public/fonts/Bagnard.otf'); 
  font-weight: normal; 
  font-style: normal; 
} 

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Bagnard", sans-serif;
}

.rectangle {
  height: 100vh;
  position: relative;
  left: 0;
}

.triangle-top {
  --after-top: 0;
  --after-right: 0;
}

.triangle-top::after {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  background-color: lightblue;
  top: var(--after-top);
  right: var(--after-right);
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%); 
}

.triangle-bottom {
  --before-top: 0;
  --before-left: 0;
}

.triangle-bottom::before {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  background-color: lightpink;
  top: var(--before-top);
  left: var(--before-left);
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.scroll-section-inner {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.scroll-section {
  height: 100%;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  color: darkgrey;
  font-size: 4em;
}

.scroll-section.salmon {
  background-color: #ffc6c6;
}

.scroll-section.light-green {
  background-color: #e5f9f5;
}

.scroll-section.light-purple {
  background-color: #cfd7fd;
}

.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}
